/* nav bar styling */

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    /* max-width: 100%; */

}

main {
    padding: 66px 180px;
    
}

header h1 {
    margin-left: 110px;
    font-size: 23px;
    font-weight: 100;
}

header {
    display: flex;
    padding: 5px px;
    align-items: center;
    background-color: black;
    color: white;
}

ul {
    display: flex;
}

.nav-links {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li select {
    border: none;
}

.nav-side-section {
    margin-left: 290px;
}

.nav-side-section button {
    margin-right: 20px;
}

.nav-side-section a {
    text-decoration: none;
    color: white;
}

.eng-button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: black;
    border: none;
    color: white;
}

.eng-button:hover {
    background-color: rgb(47, 45, 45);
}

.signup-button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-button:hover {
    background-color: rgb(234, 230, 230);
    
}

#about-nav {
    width: 55%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

#about-nav:hover {
    background-color: rgb(47, 45, 45);
}

.about-nav-header {
    font-weight: bold;
}

.about-nav-header:hover {
    background-color: rgb(47, 45, 45);
}

select option {
    background-color: white;
    color: black;
}

.nav-links:hover {
   background-color: rgb(47, 45, 45);
}

.nav-side-links {
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 20px;
} 

.nav-side-links:hover {
    background-color: rgb(47, 45, 45);
}

/* hero-content styling */

.hero-section {
    display: flex;
    justify-content: space-between;
}

.hero-section-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.hero-link-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-link-header p {
    font-weight: 550;
}

.hero-link-header a {
    color: black;
}

.hero-section-text h1 {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 18px;
}

#pickup {
    border-radius: 20px;
    width: 160px;
    padding: 10px 30px;
    background-color: #f6f6f6;
    font-weight: bold;
    margin-bottom: 10px;
}
#pickup:hover {
    background-color: #eae9e9;
}

.header-select {
    display: flex;
    flex-direction: column;
}

#pickup-location, #dropoff-location {
    width: 400px;
    padding: 19px 30px;
    border-radius: 12px;
    margin-top: 27px;
    border: none;
    background-color: #f6f6f6;
    margin-top: 17px;
}

#pickup-location::placeholder, #dropoff-location::placeholder {
    font-size: 17px;
    color: rgb(95, 95, 96);
}

.header-button {
    padding: 14px 25px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgb(47, 45, 45);
}

.header-button-link {
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #f6f6f6;
    transition: text-decoration-color 0.5s ease;
}

.header-button-link:hover {
    text-decoration-color: black;
}

.hero-img-text {
    display: flex;
    gap: 120px;
    padding: 12px 15px;
    width: 85%;
    background: linear-gradient(160deg, #ad7066 0%, #be7b6f 50%, #be7159 100%);
    border-radius: 15px;
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    align-items: center;
  
}

.hero-img-text button {
    padding: 12px 15px;
    border-radius: 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.hero-img-text p {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.hero-section-img {
  width: 485px;
  max-width: 500px;
  position: relative;
}

/* explore-section styling */

.explore-section h2 {
  font-size: 35px;
  margin-top: 53px;
  margin-bottom: 30px;
}

.explore-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.explore-card {
  position: relative;
  background-color: #f6f6f6; 
  border-radius: 8px;
  padding: 15px 20px;
  overflow: hidden; 
}

.explore-card span {
  font-weight: 500;
  margin-bottom: 8px;
}

.explore-card p {
  font-size: 13px;
  color: #333;
  max-width: 65%; 
  margin-bottom: 24px;
}

.explore-card button {
  padding: 10px 14px;
  border-radius: 24px;
  border: none;
  background-color: white;
  font-weight: 550;
  cursor: pointer;
}

.explore-card button:hover {
    background-color: #f6f6f6;
}

.explore img {
  position: absolute;
  bottom: 16px;
  right: 10px;
  width: 130px; 
  height: auto;
}

/* log-in-section styling */

.log-in-section {
    display: flex;
    margin-top: 120px;
}

.log-in-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.log-in-text h2 {
    font-size: 37px; 
    margin-bottom: 0; 
}

.log-in-text p {
    font-size: 16px;
    margin-top: 29px;
    color: rgb(32, 31, 31);
}

.log-in-text button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.log-in-text a {
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #f6f6f6;
    transition: text-decoration-color 0.5s ease;
} 

.log-in-text a:hover {
    text-decoration-color: black;
}

.log-in-button {
    margin-top: 20px;
    
}

.log-in-text button:hover {
    background-color: rgb(47, 45, 45);
}


