/* nav bar styling */

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    /* max-width: 100%; */

}

main {
    padding: 66px 180px;
    
}

header h1 {
    margin-left: 110px;
    font-size: 23px;
    font-weight: 100;
}

header {
    display: flex;
    padding: 5px px;
    align-items: center;
    background-color: black;
    color: white;
}

ul {
    display: flex;
}

.nav-links {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li select {
    border: none;
}

.nav-side-section {
    margin-left: 290px;
}

.nav-side-section button {
    margin-right: 20px;
}

.nav-side-section a {
    text-decoration: none;
    color: white;
}

.eng-button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: black;
    border: none;
    color: white;
}

.eng-button:hover {
    background-color: rgb(47, 45, 45);
}

.signup-button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signup-button:hover {
    background-color: rgb(234, 230, 230);
    
}

#about-nav {
    width: 55%;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

#about-nav:hover {
    background-color: rgb(47, 45, 45);
}

.about-nav-header {
    font-weight: bold;
}

.about-nav-header:hover {
    background-color: rgb(47, 45, 45);
}

select option {
    background-color: white;
    color: black;
}

.nav-links:hover {
   background-color: rgb(47, 45, 45);
}

.nav-side-links {
    padding: 10px 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 20px;
} 

.nav-side-links:hover {
    background-color: rgb(47, 45, 45);
}

/* hero-content styling */

.hero-section {
    display: flex;
    justify-content: space-between;
}

.hero-section-img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.hero-link-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-link-header p {
    font-weight: 550;
}

.hero-link-header a {
    color: black;
}

.hero-section-text h1 {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 18px;
}

#pickup {
    border-radius: 20px;
    width: 160px;
    padding: 10px 30px;
    background-color: #f6f6f6;
    font-weight: bold;
    margin-bottom: 10px;
}
#pickup:hover {
    background-color: #eae9e9;
}

.header-select {
    display: flex;
    flex-direction: column;
}

#pickup-location, #dropoff-location {
    width: 400px;
    padding: 19px 30px;
    border-radius: 12px;
    margin-top: 27px;
    border: none;
    background-color: #f6f6f6;
    margin-top: 17px;
}

#pickup-location::placeholder, #dropoff-location::placeholder {
    font-size: 17px;
    color: rgb(95, 95, 96);
}

.header-button {
    padding: 14px 25px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgb(47, 45, 45);
}

.header-button-link {
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #f6f6f6;
    transition: text-decoration-color 0.5s ease;
}

.header-button-link:hover {
    text-decoration-color: black;
}

.hero-img-text {
    display: flex;
    gap: 120px;
    padding: 12px 15px;
    width: 85%;
    background: linear-gradient(160deg, #ad7066 0%, #be7b6f 50%, #be7159 100%);
    border-radius: 15px;
    margin-left: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    align-items: center;
  
}

.hero-img-text button {
    padding: 12px 15px;
    border-radius: 30px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.hero-img-text p {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.hero-section-img {
  width: 485px;
  max-width: 500px;
  position: relative;
}

/* explore-section styling */

.explore-section h2 {
  font-size: 35px;
  margin-top: 53px;
  margin-bottom: 30px;
}

.explore-section-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.explore-card {
  position: relative;
  background-color: #f6f6f6; 
  border-radius: 8px;
  padding: 15px 20px;
  overflow: hidden; 
}

.explore-card span {
  font-weight: 500;
  margin-bottom: 8px;
}

.explore-card p {
  font-size: 13px;
  color: #333;
  max-width: 65%; 
  margin-bottom: 24px;
}

.explore-card button {
  padding: 10px 14px;
  border-radius: 24px;
  border: none;
  background-color: white;
  font-weight: 550;
  cursor: pointer;
}

.explore-card button:hover {
    background-color: #f6f6f6;
}

.explore img {
  position: absolute;
  bottom: 16px;
  right: 10px;
  width: 130px; 
  height: auto;
}


/* log-in-section styling */

.log-in-section {
    display: flex;
    margin-top: 120px;
}

.log-in-text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.log-in-text h2 {
    font-size: 37px; 
    margin-bottom: 0; 
}

.log-in-text p {
    font-size: 16px;
    margin-top: 29px;
    color: rgb(32, 31, 31);
}

.log-in-text button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.log-in-text a {
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #f6f6f6;
    transition: text-decoration-color 0.5s ease;
} 

.log-in-text a:hover {
    text-decoration-color: black;
}

.log-in-button {
    margin-top: 20px;
    
}

.log-in-text button:hover {
    background-color: rgb(47, 45, 45);
}


/* plan-section styling  */

.plan-content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.plan-section h2 {
    margin-bottom: 30px;
    font-size: 37px;

}

.plan-left {
    background-color: rgb(157, 205, 214);
    padding-top: 80px;
    padding-bottom: 30px;
    padding-right: 320px;
    padding-left: 40px;
    border-radius: 20px;
}

.plan-right {
    border: 1px solid #f6f6f6;
    border-radius: 20px;
    padding: 15px 20px;
    padding-left:30px;
    margin-bottom: 70px;

}

.plan-right-text {
    margin-left: 40px;
    color: rgb(90, 89, 89);

}

.plan-right a {
    color: #696969;
    text-underline-offset: 8px;
    text-decoration-color: black;
    text-decoration-style: dashed ;
}

hr {
    border-top: #f6f6f6;
}

.plan-right h2 {
    margin-top: 0;
    font-size: 21px;
    margin-left: 2px;
} 

.plan-right p {
    font-size: 17px;
}

.plan-left h2 {
    margin-top: 0;
    margin-bottom: 40px;
    
}

.plan-input {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.plan-section input {
    width: 177px;
    padding: 14px 15px;
    border-radius: 10px;
    border: none;
    color: #9f9d9d;
}

.plan-date {
    display: flex;
    flex-direction: column;
}

.plan-time {
    display: flex;
    flex-direction: column;
}

.plan-button {
    margin-top: 20px;
    padding: 15px 197px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
}


/* city-section styling */

.city-section {
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
}

.city-section img {
    width: 540px;
}

.city-text h2 {
    font-size: 37px;
}

.city-text p {
    font-size: 17px;
    line-height: 23px;
    color: rgb(63, 63, 63);
}

.city-text button {
    padding: 15px 47px;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    margin-top: 20px;
}


/* drive-section */

.drive-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 150px;
}

.drive-section img {
    width: 540px;
}

.drive-section h2 {
    font-size: 37px;
}

.drive-section p {
    font-size: 17px;
    line-height: 23px;
    color: rgb(63, 63, 63);
}

.drive-section button {
    font-size: 17px;
    padding: 13px 19px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 15px;
}

.drive-section button:hover {
    background-color: rgb(47, 45, 45);
}

.drive-section a {
    margin-left: 20px;
    color: black;
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #e6e6e6;
    transition: text-decoration-color 0.5s ease;
}

.drive-section a:hover {
    text-decoration-color: black;
}

.drive-text {
    margin-top: 130px;
}


/*  business section styling*/

.business-section {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.business-section img {
    width: 530px;
}

.business-section h2 {
    font-size: 35px;
}

.business-section p {
    font-size: 17px;
    line-height: 23px;
    color: rgb(63, 63, 63);
}

.business-section button {
    font-size: 17px;
    padding: 13px 19px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 15px;
}

.business-section button:hover {
    background-color: rgb(47, 45, 45);
}

.business-section a {
    margin-left: 20px;
    color: black;
    text-underline-offset: 8px;
    margin-left: 20px;
    color: black;
    text-decoration-color: #e6e6e6;
    transition: text-decoration-color 0.5s ease;
}

.business-section a:hover {
    text-decoration-color: black;
}

.business-text {
    margin-top: 130px;
}

/* App section styling */

.app-section {
    background-color: #f6f6f6;
    padding: 66px 180px;
    
}

.app-button {
    display: flex;
    gap: 20px;
}

.app-button button {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 263px;
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.app-button span {
    font-weight: 100;
    color: #2e2c2c;
    text-align: left;
    margin-top: 8px;
    font-size: 16px;
}

.app-section h2 {
    font-size: 35px;
    margin-top: 22px;
}


